body {
  font-family: Verdana, sans-serif;
  color: #007BC4;
  margin: auto;
  height: 1000px;
  background-image: url("../images/truck.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: top;
}

nav {
  width: 100%;
  background-color: #444;
  text-align: right;
  position: fixed;
  top: 0px;
}

nav a {
  display: inline-block;
  text-decoration: none;
  color: white;
  padding: 24px;
  font-size: 16px;
  font-weight: bold;
}

a:active {
  background: #FFBD2E;
  color: #444;
}

nav a:hover {
  background: #FFBD2E;
  color: #444;
}

nav input {
  height: 35px;
  width: 20%;
  border-radius: 10px;
  border-style: solid;
  font-size: 120%;
  margin-right: 60%;
}

h1 {
  z-index: -1;
  position: fixed;
  height: 200px;
  width: 800px;
  top: 40%;
  left: 50%;
  margin-top: -100px;
  margin-left: -400px;
  color: rgba(69, 103, 196);
  font-family: Impact, sans-serif;
  font-size: 400%;
  transform: scale(1, 1.5);
  text-align: center;
  opacity: .85;
}

section {
  text-align: center;
  background-color: white;
  margin: auto;
}


p {
  color: #444;
  width: 75%;
  margin: auto;
}

.button {
  font-size: 14pt;
  position: fixed;
  display: block;
  text-align: center;
  z-index: 1;
  text-decoration: none;
  height: 50px;
  width: 150px;
  margin-left: 45%;
  margin-top: 30%;
  background-color: #FFBD2E;
  color: #444;
  border-radius: 10px;
  padding-top: 25px;
}

.button:hover {
  opacity: 0.8;
}

#title-container {
  position: fixed;

}

#message-container {
  padding-top: 10%;
  margin-top: 48%;
  font-size: 150%;
  width: 100%;
  height: 800px;
  text-align: center;
  background-color: #dedede;
}
