body {
  font-family: Verdana, sans-serif;
  color: #007BC4;
  margin: auto;
  height: 1000px;
  background-image: url("../images/truck.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: left;
}

nav {
  list-style: none;
  background-color: #444;
  padding: 0;
  margin: 0;
  text-align: right;
}

nav a {
  display: inline-block;
  text-decoration: none;
  color: white;
  padding: 24px;
  font-size: 16px;
  font-weight: bold;
}

a:active {
  background: #FFBD2E;
  color: #444;
}

nav a:hover {
  background: #FFBD2E;
  color: #444;
}

nav input {
  height: 35px;
  width: 20%;
  border-radius: 10px;
  border-style: solid;
  font-size: 120%;
  margin-right: 60%;
}

h1 {
  color: rgb(69, 103, 196);
  font-family: Impact, sans-serif;
  font-size: 500%;
  transform: scale(1, 1.5);
  text-align: left;
  opacity: .85;
}

p {
  color: white;

}

.button {
  display: block;
  text-decoration: none;
  margin: auto;
  width: 150px;
  margin: auto;
  background-color: #FFBD2E;
  color: #444;
  border-radius: 10px;
  padding: 10px;
}

.button:hover {
  opacity: .6;
}

#title-container {
  float: left;
  margin-top: 20px;
  margin-left: 5%;
}

#message-container {
  background: rgba(0,0,0,0.0);
  font-size: 150%;
  float: right;
  margin-right: 5%;
  margin-top: 10%;
  width: 50%;
  height: 500px;
  text-align: center;
}
